{% extends 'layout.html.twig' %}

{% block main %}
<div class="row mt-3">
	<div class="col-12">
		{% if response is defined and response|length > 0 %}
			<h3>{{ response }}</h3>
		{% endif %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">№</th>
					<th scope="col">Описание</th>
					<th scope="col">Цена</th>
					<th scope="col">Производитель</th>
					<th scope="col">Год выпуска</th>
					<th scope="col">Страна производитель</th>
					<th scope="col">Ссылка</th>
					<th scope="col">Изменить</th>
					<th scope="col">Удалить</th>
				</tr>
			</thead>
			<tbody>
				{% for ad in ads %}
				<tr>
					<th scope="row">{{ ad.id }}</th>
					<td>{{ ad.description }}</td>
					<td>{{ ad.price }} руб.</td>
					<td>{{ ad.auto.manufacturer }}</td>
					<td>{{ ad.auto.releaseyear }}</td>
					<td>{{ ad.auto.origincountry }}</td>
					<td><a href="/ads/{{ ad.id }}" class="btn btn-success">Подробнее</a></td>
					<td><a href="/ads/update/{{ ad.id }}" class="btn btn-success">Изменить</a></td>
					<td><a href="/ads/remove/{{ ad.id }}" class="btn btn-warning">Удалить</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
